<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>空氣污染</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body id="app">

<select v-model="selectedCountry" v-on:change="onSelectCountry">
  <option v-for="country in countries" v-bind:value="country.value">{{ country.text }}</option>
</select>

<select v-model="selectedSite">
  <option v-for="site in sites" v-bind:value="site.value">{{ site.text }}</option>
</select>

<div v-for="(country, data) in grouped_data">
  <div>{{ country }}</div>
  <ul v-for="d in data">
    <li>{{ d.SiteName }}站細懸浮微粒濃度: {{ d['PM2.5'] }} μg/m3</li>
  </ul>
</div>

<script src="scripts/vue.min.js"></script>
<script src="scripts/zepto.min.js"></script>
<script src="scripts/zepto.callbacks.min.js"></script>
<script src="scripts/zepto.deferred.min.js"></script>
<script src="scripts/main.js"></script>

</body>
</html>
